.estudiantes-container{
    width: 95%;
    margin: 0 auto;
    border: 2px solid rgb(0, 9, 128);
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
}

#titulos{  
    color:lime;
}

.titulos{
    text-align: left;
    font-weight: bold;
    padding-left: 20px;     
    margin-bottom: 5px;
    word-spacing: 2.1cm;
    font-size:13px;

}